html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0rem;
  font-family: sans-serif;
  background-color: #e0effd;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #1a81e8;
  box-shadow: none;
}

p {
  color: #263238;
}

.theme-back-blue {
  background-color: #1a81e8;
}

.theme-color-blue {
  color: #1a81e8;
}

.theme-back-white {
  background-color: #fcfdff;
}

.fw-450 {
  font-weight: 450;
}
