html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0rem;
  font-family: sans-serif;
  background-color: #e0effd;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #1a81e8;
  box-shadow: none;
}

.btn:hover {
  background-color: #589def;
}

.brand-logo {
  margin-left: 8px;
}

h5 {
  color: #263238;
}

p {
  color: #263238;
}

.break-word {
  word-wrap: break-word;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-title {
  word-wrap: break-word;
}

.flex {
  display: flex;
}

.theme-back-blue {
  background-color: #1a81e8;
}

.theme-color-blue {
  color: #1a81e8;
}

.theme-back-white {
  background-color: #fcfdff;
}

.fw-450 {
  font-weight: 450;
}

.fab-new-project {
  display: none;
}

.btn-floating:hover,
.btn:focus {
  background-color: #1a81e8;
}

.btn {
  text-transform: none;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (max-width: 480px) {
  .nav-new-project {
    display: none;
  }

  .fab-new-project {
    display: block;
    position: absolute;
    right: 16px;
    bottom: 32px;
  }
}
